<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>
        {% spaceless %}
            {% block title %}{{ "ONGR Demo" | trans }}{% endblock %}
        {% endspaceless %}
    </title>
    {% block stylesheets %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet">
        {% stylesheets '@demo_css' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            <meta name="viewport" content="width=device-width,initial-scale=1.0">
        {% endstylesheets %}
    {% endblock %}
    {% block canonical_meta %}{% endblock %}
    {% block metadata_description %}{% endblock %}
    {% block metadata_keywords %}{% endblock %}
    {% block metadata_robots %}{% endblock %}
    {% block facebook_og %}{% endblock %}
</head>
<body{% block body_attributes %}{% endblock %} >
{% block init %}{% endblock %}
<div class="container container-fluid">
    {% block container %}
        {% block page_head %}
            <div class="masterhead">
                <ul class="nav nav-pills pull-right">
                    {% block top_links %}

                        <li {% if app.request.get('_route') == '_demo_site_home_page' %}class="active"{% endif %}>
                            <a href="{{ path('onager_demo_homepage') }}">{{ "Home" | trans }}</a>
                        </li>

                        {% block top_cms_links %}
                            {% for slug in top_cms_links %}
                                <li>{{ snippet(slug, 'ONGRDemoBundle:Content:link.html.twig') }}</li>
                            {% endfor %}
                        {% endblock %}
                    {% endblock %}
                </ul>
                <h3 class="text-muted pull-left">
                    {% block head_title %}
                        <a href="{{ path('onager_demo_homepage') }}">
                            {% image '@ONGRDemoBundle/Resources/public/images/logo.png' %}
                                <img src="{{ asset_url }}" alt="logo"/>
                            {% endimage %}
                        </a>
                    {% endblock %}
                </h3>
            </div>
        {% endblock %}
        <hr/>
        {% block top_navigation %}
            <nav class="navbar navbar-default" role="navigation">
                {% block search_form %}
                    <form class="navbar-form navbar-right" role="search" method="get"
                          action="{{ path('ongr_search_page') }}">
                        <div class="form-group ui-widget">
                            <input type="text" id="search-term" class="form-control" placeholder="{{ "Search"|trans }}"
                                   value="{% block search_value %}{% endblock %}" name="q">
                        </div>
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </form>
                {% endblock %}
                <div class="collapse navbar-collapse">
                    {% block top_navigation_inner %}
                        {{ render(url('_ongr_category_tree', {'theme' : 'top', 'maxLevel': 1})) }}
                    {% endblock %}
                </div>
            </nav>
        {% endblock %}
        {% block content_wrapper %}{% endblock %}
        <hr/>
        {% block footer %}
            <div class="well">
                <div class="span6">
                    <span class="glyphicon glyphicon-copyright-mark"></span> ONGR
                </div>
            </div>
        {% endblock %}
    {% endblock %}
</div>
{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% javascripts '@demo_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block html_closures %}{% endblock %}
</body>
</html>
