{% extends 'base.html.twig' %}

{% import '::macros/breadcrumbs.html.twig' as breadcrumbs_macros %}

{% block title %}
    {{ product.title }} - {{ parent() }}
{% endblock %}

{% block canonical_meta %}
    <link rel="canonical" href="{{ path('ongr_route_product', { 'document' : product }) }}">
{% endblock %}

{% block breadcrumbs_inner %}
    {#{{ breadcrumbs_macros.product_breadcrumbs(product) }}#}
{% endblock %}

{% block about %}
    <h2 class="product-title">{{ product.title }}</h2>
    <div class="product-more-info">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#more_info" aria-controls="more_info" role="tab" data-toggle="tab">{{ 'product.more_info'|trans }}</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="more_info">
                <p>
                    {% for key,value in product_attributes(product) %}
                        {{ key }} - {{ value }} <br/>
                    {% endfor %}
                    Color: {{ product.color }} <br/>
                </p>
            </div>
        </div>
    </div>

    <form action="">
        <div class="product-quantity-container clearfix">
            <label for="quantity" class="product-quantity-title pull-left">{{ 'product.qantity'|trans }}</label>
            <input id="quantity" type="text" value="1" class="product-quantity-inp pull-left">
        </div>
        <span class="product-price">€ {{ product.price }}</span>
        <button class="product-add-to-cart">{{ 'product.add_to_cart'|trans }}</button>
    </form>
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="product-page">
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-6">
                <img class="product-image" src="{{ product_image(product) }}"/>
            </div>
            <div class="col-sm-7 col-md-7 col-lg-6">
                {{ block('about') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block content_wrapper %}
    <div class="row">
        <div class="col-sm-12">
            {{ block('breadcrumbs') }}
        </div>
    </div>
    {{ block('content') }}
{% endblock %}
