<footer class="page-footer">
    <div class="container">
        <div class="row">
            {#<div class="col-sm-6 col-lg-3">#}
                {#<h3 class="footer-col-header hidden-xs">{{ 'footer.info.title'|trans }}</h3>#}
                {#<h3 class="footer-col-header js-footer-dropdown-trigger visible-xs">{{ 'footer.info.title'|trans }}</h3>#}
                {#<ul class="footer-col-links js-footer-dropdown">#}
                    {#<li class="footer-col-link">#}
                        {#<a href="#">{{ 'footer.info.specials'|trans }}</a>#}
                    {#</li>#}
                    {#<li class="footer-col-link">#}
                        {#<a href="#">{{ 'footer.info.new_products'|trans }}</a>#}
                    {#</li>#}
                    {#<li class="footer-col-link">#}
                        {#<a href="#">{{ 'footer.info.top_sellers'|trans }}</a>#}
                    {#</li>#}
                    {#<li class="footer-col-link">#}
                        {#<a href="#">{{ 'footer.info.our_stores'|trans }}</a>#}
                    {#</li>#}
                    {#<li class="footer-col-link">#}
                        {#<a href="#">{{ 'footer.info.contact_us'|trans }}</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}
            {#<div class="col-sm-6 col-lg-3">#}
                {#<h3 class="footer-col-header hidden-xs">{{ 'footer.useful_links.title'|trans }}</h3>#}
                {#<h3 class="footer-col-header js-footer-dropdown-trigger visible-xs">{{ 'footer.useful_links.title'|trans }}</h3>#}
                {#<ul class="footer-col-links js-footer-dropdown">#}
                    {#<li class="footer-col-link">#}
                        {#<a href="#">{{ 'footer.useful_links.about_us'|trans }}</a>#}
                    {#</li>#}
                    {#<li class="footer-col-link">#}
                        {#<a href="#">{{ 'footer.useful_links.delivery'|trans }}</a>#}
                    {#</li>#}
                    {#<li class="footer-col-link">#}
                        {#<a href="#">{{ 'footer.useful_links.legal_notice'|trans }}</a>#}
                    {#</li>#}
                    {#<li class="footer-col-link">#}
                        {#<a href="#">{{ 'footer.useful_links.secure_payment'|trans }}</a>#}
                    {#</li>#}
                    {#<li class="footer-col-link">#}
                        {#<a href="#">{{ 'footer.useful_links.terms_conditions'|trans }}</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}
            {#<div class="col-sm-6 col-lg-3">#}
                {#<h3 class="footer-col-header">{{ 'footer.latest_tweets'|trans }}</h3>#}
                {#<ul class="footer-col-tweets">#}
                {#</ul>#}
            {#</div>#}
            {#<div class="col-sm-6 col-lg-3">#}
                {#<h3 class="footer-col-header">{{ 'footer.facebook'|trans }}</h3>#}
            {#</div>#}
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <p class="footer-bottom-copyright">{{ 'footer.copyright'|trans({'%year%': 'now'|date('Y')}) }}</p>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 footer-bottom-right">
                        <p class="footer-bottom-copyright">This shop is for demo purposes only.
                            If you want to buy these products - please go to <a href="http://www.design-3000.de">www.design-3000.de</a> | <a data-toggle="modal" href="{{ path('app_imprint') }}">Imprint </a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

