<header class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-sm-8 col-md-8 col-lg-8">
                <ul class="topbar-links">
                    <li class="topbar-link topbar-dropdown hidden-sm hidden-xs">
                        <a href="#">{{ 'topbar.my_account'|trans }}</a>
                        <ul class="topbar-dropdown-content">
                            <li class="topbar-dropdown-link">
                                <a href="#">{{ 'topbar.my_orders'|trans }}</a>
                            </li>
                            <li class="topbar-dropdown-link">
                                <a href="#">{{ 'topbar.my_credit_slips'|trans }}</a>
                            </li>
                            <li class="topbar-dropdown-link">
                                <a href="#">{{ 'topbar.my_addresses'|trans }}</a>
                            </li>
                            <li class="topbar-dropdown-link">
                                <a href="#">{{ 'topbar.my_personal_info'|trans }}</a>
                            </li>
                            <li class="topbar-dropdown-link">
                                <a href="#">{{ 'topbar.my_vouchers'|trans }}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="topbar-link topbar-dropdown hidden-sm hidden-xs">
                        <a href="#">{{ 'topbar.my_wishlist'|trans({'%count%': 0}) }}</a>
                        <div class="topbar-dropdown-content hidden-sm hidden-xs">
                            <i>{{ 'topbar.no_products'|trans }}</i>
                        </div>
                    </li>
                    <li class="topbar-link topbar-dropdown hidden-sm hidden-xs">
                        <a href="#">{{ 'topbar.watch_list'|trans({'%count%': 1}) }}</a>
                        <div class="topbar-dropdown-content">
                            <i>{{ 'topbar.no_products'|trans }}</i>
                        </div>
                    </li>
                    <li class="topbar-link">
                        {{ 'topbar.sign_in_or_register'|trans({'%sign_in%': '#', '%register%': '#'})|raw }}
                    </li>
                </ul>
            </div>
            {#<div class="col-xs-7 col-sm-4 col-md-4 col-lg-4">#}
                {#<div class="topbar-additional topbar-currency topbar-dropdown pull-right">#}
                    {#<span class="topbar-additional-selected">{{ 'currency.dollar'|trans }}</span>#}
                    {#<div class="topbar-dropdown-content">#}
                        {#<ul class="topbar-additional-list">#}
                            {#<li class="topbar-additional-list-item">#}
                                {#<a href="#">{{ 'currency.euro'|trans }}</a>#}
                            {#</li>#}
                            {#<li class="topbar-additional-list-item">#}
                                {#<a href="#">{{ 'currency.pound'|trans }}</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="topbar-additional topbar-language topbar-dropdown pull-right">#}
                    {#<span class="topbar-additional-selected">#}
                        {#<img src="{{ asset('images/english.jpg') }}" alt="language" width="16" height="11"/>#}
                        {#<span class="hidden-xs">{{ 'language.english'|trans }}</span>#}
                    {#</span>#}
                    {#<div class="topbar-dropdown-content">#}
                        {#<ul class="topbar-additional-list">#}
                            {#<li class="topbar-additional-list-item">#}
                                {#<a href="#">#}
                                    {#<img src="{{ asset('images/german.jpg') }}" alt="language" width="16" height="11"/>#}
                                    {#{{ 'language.german'|trans }}#}
                                {#</a>#}
                            {#</li>#}
                            {#<li class="topbar-additional-list-item">#}
                                {#<a href="#">#}
                                    {#<img src="{{ asset('images/spanish.jpg') }}" alt="language" width="16" height="11"/>#}
                                    {#{{ 'language.spanish'|trans }}#}
                                {#</a>#}
                            {#</li>#}
                            {#<li class="topbar-additional-list-item">#}
                                {#<a href="#">#}
                                    {#<img src="{{ asset('images/french.jpg') }}" alt="language" width="16" height="11"/>#}
                                    {#{{ 'language.french'|trans }}#}
                                {#</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>
</header>