{% extends "ONGRDemoBundle::layout.html.twig" %}

{% block title %}
    {{ product.title }} - {{ parent() }}
{% endblock %}

{% block canonical_meta %}
    <link rel="canonical" href="{{ path('ongr_product', { 'document' : product }) }}">
{% endblock %}

{% block breadcrumbs_inner %}
    {{ render(url('_ongr_breadcrumbs', {selectedCategory : product.mainCategory, theme: 'product_breadcrumbs'}), {strategy: 'ssi'}) }}
    <li class="active">{{ product.title }}</li>
{% endblock %}

{% block about %}
    <h2 class="product-title">{{ product.title }}</h2>
    <ul class="product-desc-list">
        <li class="product-desc-list-item">{{ 'product.manufacturer'|trans }} {{ product.manufacturer }}</li>
        <li class="product-desc-list-item">{{ 'product.grape'|trans }} {{ product.grape }}</li>
        <li class="product-desc-list-item">{{ 'product.alcohol_level'|trans }} {{ product.alcoholLevel|number_format(1) }}%</li>
        <li class="product-desc-list-item">{{ 'product.wine_colour'|trans }} {{ product.wineColour }}</li>
        <li class="product-desc-list-item">{{ 'product.wine_style'|trans }} {{ product.wineStyle }}</li>
    </ul>

    <div class="product-more-info">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">{{ 'product.more_info'|trans }}</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">{{ 'product.attributes'|trans }}</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <p>{{ product.description }}</p>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda dolore eaque laboriosam officia rerum?
            </div>
        </div>
    </div>

    <form action="">
        <div class="product-quantity-container clearfix">
            <label for="quantity" class="product-quantity-title pull-left">{{ 'product.qantity'|trans }}</label>
            <input id="quantity" type="text" value="1" class="product-quantity-inp pull-left">
        </div>
        <span class="product-price">€ {{ product.price }}</span>
        <button class="product-add-to-cart">{{ 'product.add_to_cart'|trans }}</button>
    </form>
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="product-page">
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-6">
                <img class="product-image" src="{{ product.image }}"/>
            </div>
            <div class="col-sm-7 col-md-7 col-lg-6">
                {{ block('about') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block content_wrapper %}
    {{ block('content') }}
{% endblock %}
